@charset "ISO-8859-1";

/* CSS External Styles sheet */

		* 	{
				box-sizing:border-box;
			}
			
		body { background-color:lightblue;
			font-family:"Comic Sans MS", cursive, sans-serif;
			border: thin solid black;
			border-radius:5px;
			margin:15px;
		}
		
		h1 { 
		background-color: #f2dc8c;
		color:#996600;
		text-align:center;
		}
		
		.blueBackground {
			background-color:#0469b3; 
			color: white;}
		
		h2,h3 {color: green; }
		
		ul li {
		padding: 2px;
		margin: auto;
		}
		
		.header {
		border: thin solid black;
		padding-left: 20px;
		margin-left: 50px;
		margin-bottom: 25px;
		}
		
		footer	{
				padding: 15px;
				margin:15px;
		}
		
		footer img {
			float: left;
			height:75px;
			width:75px;
			padding:10px;
			margin:5px;
		}
			
		div	{
				border:none;
			}
			
		.row {
				margin:0px;
			}
			
		nav {
				background-color: #00aeed;
				font-family: "Times New Roman", Times, serif;
				font-style: normal;
				font-weight: bold;
				text-decoration: underline;
				
			}
			
		p {color:blue; }
	
		.blueBackground { 
			background-color:blue; 
			color: white;}
	
		strong em {color:red; }
	
		p { text-indent:50; }
	
		
		strong { font-weight:900; }
		
		.greenText { color:#00a54e; }
		
				
		strong em {color:red; }
								
		.AKCFormat { 
				font-weight:bold; 
				color:green; 
		}
		
		.contactImg {
			float: left;
			height: 300px;
			width:300px;
		}
		
		.greenText { color:lightgreen; }
		
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover {
			background-color: #111;
		}
		
	

		