<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Customers</title>
</head>
<body>
	<h1>View All Customers List</h1>
	<form th:object="${newCustomer}" th:action="@{/update/{custId}(id=${newContact.custId})}" method=POST>
		<table>
			<tr th:each="currentCustomer : ${customer}">
				<td th:text="${currentCustomer.custId}" />
				<td th:text="${currentCustomer.firstName}" />
				<td th:text="${currentCustomer.lastName}" />
				<td th:text="${currentCustomer.phone}" />
				<td th:text="${currentCustomer.address.street}" />
				<td th:text="${currentCustomer.address.city}" />
				<td th:text="${currentCustomer.address.state}" />
				<td><a href="@{/edit/{custId}(id=${currentCustomer.custId})}">Edit</a> </td>
				<td><a href="@{/delete/{custId}(id=${currentCustomer.custId})}">Delete</a> </td>
			</tr>
		</table>
	</form>
	<a href="../inputCustomer">Add a new customer</a>
</body>
</html>